.comboContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: #1a1c1d;
  background-image: url('../../../images/bg.jpg');
}

.comboHeader,
.cp {
  color: whitesmoke !important;
}

#treeWrapper {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  width: 100%;
  margin: 10px;
  background-color: whitesmoke !important;
}
