.high .progress-bar {
  background-color: green;
}

.containerGlobal {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.select {
  margin: 20px;
}

.low .progress-bar {
  background-color: rgb(179, 0, 0);
}

.medium .progress-bar {
  background-color: orange;
}

.progress-bar {
  font-size: 25px;
}

.progress {
  height: 25px;
  width: 50%;
  margin: auto;
}

.selectBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  background-color: #1a1c1d;
  box-shadow: rgb(204, 204, 204) 0px 1px 2px;
}

.selectBorder {
  align-self: end;
}

.selectBtn {
  text-align: center;
  background-color: red;
  border: 3px solid black;
  height: 200px;
  widows: 200px;
  clip-path: polygon(0 0, 100% 0%, 80% 15%, 20% 15%);
}

.gitLabLogo,
.fmsLogo {
  height: 75px;
  margin-left: 30px;
  margin-right: 30px;
}

.mainCharacter {
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
  font-family: Impact, Charcoal, sans-serif;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  height: 30vh;
  color: white;
  font-size: 3.5vw;
  padding: 20px;
  padding-left: 30px;
}

.mainCharInfos {
  display: flex;
}

.mainCharacterContainer {
  width: 25%;
}
.progressBar {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.progress {
  margin-top: 30px;
  width: 75%;
}

.vt {
  width: 30%;
  background-color: white;
}

.vt .progress-bar {
  background-color: #a291fb;
}

.vtInfos {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.vt p,
.phrase {
  margin-top: 10px;
  text-align: center;
}

.moves {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Safe,
.NotSafe {
  flex-direction: column;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10%;
  color: white;
  flex: 1 0 30%;
  height: 100px;
  border: 1px solid #d7d0c8;
  cursor: pointer;
  transition: filter 400ms ease;
}

.Safe:hover,
.NotSafe:hover {
  transition: filter 400ms ease;
  filter: brightness(90%);
}

.Safe {
  background-color: #95a78d;
}

.NotSafe {
  background-color: #f87666;
}

.moveDetail {
  border: none;
  width: 100%;
  font-size: 15px;
}

.moveDetail:hover {
  filter: none;
}

.active {
  flex-grow: 1;
  transition: height 1s;
  display: flex;
  justify-content: initial !important;
  align-items: center;
  text-align: center;
  height: 100%;
  animation: grow 400ms;
}

@keyframes grow {
  from {
    height: 100px;
  }
  to {
    height: 100%;
  }
}

.popup {
  animation: appear 1s;
  margin-left: 5% !important;
}

@keyframes appear {
  from {
    visibility: hidden;
  }

  to {
    visibility: initial;
  }
}

.popupContent {
  text-align: center;
  font-weight: 400;
}

.moveContainer {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 2vw;
  margin-right: 2vw;
  flex: 1;
  margin-bottom: 10%;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    visibility: hidden;
    margin-left: 100%;
  }

  to {
    visibility: initial;
    margin-left: 2vw;
  }
}

.Vs {
  color: black;
  font-size: 1.5vw;
}

.P2display {
  font-size: 2vw;
}

.select2ndCharacter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.select2ndCharacter {
  flex: 1;
}

.footerContainer {
  z-index: -2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  box-shadow: #cccccc 0px 1px 2px;
  height: 5vh;
  width: 100%;
}

.guideLink {
  margin-right: 20px;
  font-size: 20px;
}

a:link,
a:visited {
  color: white;
  -webkit-transition: color 250ms, -webkit-transform 2s;
  transition: color 250ms, transform 2s;
  text-decoration: none;
}

a:hover,
a:active {
  -webkit-transition: color 250ms, -webkit-transform 2s;
  transition: color 250ms, transform 2s;
  color: #a291fb;
  text-decoration: none;
}

.mainCharContainer {
  flex: 1;
}

.introContainer {
  margin-top: 30px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.characterSelectScreen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.iconSelect {
  cursor: pointer;
  height: 150px;
  margin: 5px;
  width: 150px;
  overflow: hidden;
  border-radius: 2px;
  -moz-box-shadow: 0 0 3px #c0c0c0;
  -webkit-box-shadow: 0 0 3px #c0c0c0;
  box-shadow: 0 0 3px #c0c0c0;
}

.iconImage {
  height: 150px;
  width: 150px;
  transition: transform 400ms ease, filter 400ms ease;
}

.iconImage:hover {
  transform: scale(1.2);
  transition: transform 400ms ease, filter 400ms ease;
  filter: brightness(50%);
}

.newText {
  align-self: flex-end;
  margin-top: 50px;
  margin-right: 20px;
  font-family: 'Gloria Hallelujah', cursive;
}

.buttonMoves {
  background-color: gainsboro !important;
  color: #7469b4 !important;
}

.buttonMoves:hover {
  background-color: #a291fb !important;
  color: white !important;
}
